@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    height: 100vh;
}

.card{
    justify-content: center;
    width: 21.87rem;
    max-width: 25rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.hero img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

h2{
    margin-top: 1.5rem;
    font-family: 'Red Hat Display', sans-serif;
}



.info{
    justify-content: center;
    text-align: center;
    width: 78%;
    margin-left: 11%;
}

.text{
    color:hsl(224, 23%, 55%);
    margin-top: 1.5rem;
    text-align: center;
    justify-content: center;
    line-height: 1.5rem;
}

.price{
    margin-top: 1.35rem;
    background-color: hsl(229, 74%, 95%);
    width: 85%;
    border-radius: 0.625rem;
    display: flex;
    margin-left: 10%;
    align-items: center;
    height: 15%;
    padding: 1rem;
}

.price .plan{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.price img{
    display: flex;
    margin-right: 0.5rem;
}

.plan p{
    color: hsl(224, 23%, 55%);
}

.plan span{
    margin-bottom: 0.125rem;
    font-weight: 700;
}

.btn-change{
    margin-left: 4rem;
    font-weight: bold;
    border: none;
    color: hsl(245, 75%, 52%);
    cursor: pointer;
    text-decoration: underline;
}

.btn-change:hover,
.btn-pay:hover,
.btn-cancel:hover{
    opacity: 0.7;
}

.btn-pay{
    display: block;
    margin: 1.5rem auto;
    cursor: pointer;
    width: 85%;
    margin-left: 10%;
    padding: 0.9rem;
    color:  hsl(225, 100%, 94%);
    background-color:  hsl(245, 75%, 52%);
    border-radius: 0.625rem;
    border: none;
}

.btn-cancel{
    border: none;
    font-weight: 900;
    cursor: pointer;
    border-style: unset;
    color: hsl(224, 23%, 55%);
    margin-bottom: 2rem;
    background-color: white;
}

button{
    transition: all 0.2s ease-in-out; 
}

@media (min-width: 710px){
    body{
        background-image: url('./images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
        background-color:hsl(225, 100%, 94%) ;
        background-size: 100%;
    }
    .main{
        margin-top: 1rem;
    }
}

@media(max-width:700px){
    .main{
        background-image: url('./images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: hsl(225, 100%, 94%);
    }
}